USE [FoodMartDW]
GO
/****** Object:  Table [dbo].[D_Customer]    Script Date: 04-05-2024 22:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Customer](
	[CustomerKey] [bigint] NOT NULL,
	[version] [int] NULL,
	[date_from] [datetime] NULL,
	[date_to] [datetime] NULL,
	[CustomerID] [varchar](100) NULL,
	[CompanyName] [varchar](40) NULL,
	[ContactName] [varchar](30) NULL,
	[ContactTitle] [varchar](30) NULL,
	[City] [varchar](15) NULL,
	[Region] [varchar](15) NULL,
	[Country] [varchar](15) NULL,
	[ChangeDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_Product]    Script Date: 04-05-2024 22:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Product](
	[ProductKey] [bigint] NOT NULL,
	[version] [int] NULL,
	[date_from] [datetime] NULL,
	[date_to] [datetime] NULL,
	[ProductID] [int] NULL,
	[ProductName] [varchar](40) NULL,
	[SupplierID] [int] NULL,
	[CategoryID] [int] NULL,
	[UnitCostPrice] [decimal](19, 4) NULL,
	[UnitPrice] [decimal](19, 4) NULL,
	[ChangeDateTime] [datetime] NULL,
	[CategoryName] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_Time]    Script Date: 04-05-2024 22:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Time](
	[MonthKey] [varchar](6) NOT NULL,
	[MonthNumberOfYear] [int] NULL,
	[EnglishMonthName] [varchar](20) NULL,
	[CalendarQuarter] [int] NULL,
	[CalendarSemester] [int] NULL,
	[CalendarYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MonthKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[F_Sales_Month]    Script Date: 04-05-2024 22:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F_Sales_Month](
	[MonthKey] [varchar](6) NOT NULL,
	[CustomerKey] [bigint] NOT NULL,
	[ProductKey] [bigint] NOT NULL,
	[SalesQty] [float] NULL,
	[SalesAmount] [float] NULL,
	[NetSalesAmount] [float] NULL,
	[ShipmentDuration] [int] NULL,
	[VatAmount] [float] NULL,
	[OnTime] [bit] NULL,
 CONSTRAINT [PK_F_Sales_Month] PRIMARY KEY CLUSTERED 
(
	[MonthKey] ASC,
	[CustomerKey] ASC,
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[D_Customer] ([CustomerKey], [version], [date_from], [date_to], [CustomerID], [CompanyName], [ContactName], [ContactTitle], [City], [Region], [Country], [ChangeDateTime]) VALUES (0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[D_Customer] ([CustomerKey], [version], [date_from], [date_to], [CustomerID], [CompanyName], [ContactName], [ContactTitle], [City], [Region], [Country], [ChangeDateTime]) VALUES (1, 1, CAST(N'2011-01-01T00:00:00.000' AS DateTime), CAST(N'2200-01-01T00:00:00.000' AS DateTime), N'ALFKI', N'Alfreds Futterkiste', N'Maria Anders', N'Sales Representative', N'Berlin', NULL, N'Germany', CAST(N'2013-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[D_Customer] ([CustomerKey], [version], [date_from], [date_to], [CustomerID], [CompanyName], [ContactName], [ContactTitle], [City], [Region], [Country], [ChangeDateTime]) VALUES (2, 1, CAST(N'2011-01-01T00:00:00.000' AS DateTime), CAST(N'2200-01-01T00:00:00.000' AS DateTime), N'ANATR', N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', N'Owner', N'México D.F.', NULL, N'Mexico', CAST(N'2013-01-02T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[D_Product] ([ProductKey], [version], [date_from], [date_to], [ProductID], [ProductName], [SupplierID], [CategoryID], [UnitCostPrice], [UnitPrice], [ChangeDateTime], [CategoryName]) VALUES (0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[D_Product] ([ProductKey], [version], [date_from], [date_to], [ProductID], [ProductName], [SupplierID], [CategoryID], [UnitCostPrice], [UnitPrice], [ChangeDateTime], [CategoryName]) VALUES (1, 1, CAST(N'2011-01-01T00:00:00.000' AS DateTime), CAST(N'2200-01-01T00:00:00.000' AS DateTime), 1, N'Chai', 1, 1, NULL, CAST(18.0000 AS Decimal(19, 4)), CAST(N'2013-01-02T00:00:00.000' AS DateTime), N'Beverages')
INSERT [dbo].[D_Product] ([ProductKey], [version], [date_from], [date_to], [ProductID], [ProductName], [SupplierID], [CategoryID], [UnitCostPrice], [UnitPrice], [ChangeDateTime], [CategoryName]) VALUES (2, 1, CAST(N'2011-01-01T00:00:00.000' AS DateTime), CAST(N'2200-01-01T00:00:00.000' AS DateTime), 2, N'Chang', 1, 1, NULL, CAST(19.0000 AS Decimal(19, 4)), CAST(N'2013-01-02T00:00:00.000' AS DateTime), N'Beverages')
GO
INSERT [dbo].[D_Time] ([MonthKey], [MonthNumberOfYear], [EnglishMonthName], [CalendarQuarter], [CalendarSemester], [CalendarYear]) VALUES (N'201101', 1, N'January', 1, 1, 2011)
INSERT [dbo].[D_Time] ([MonthKey], [MonthNumberOfYear], [EnglishMonthName], [CalendarQuarter], [CalendarSemester], [CalendarYear]) VALUES (N'201102', 2, N'February', 1, 1, 2011)
INSERT [dbo].[D_Time] ([MonthKey], [MonthNumberOfYear], [EnglishMonthName], [CalendarQuarter], [CalendarSemester], [CalendarYear]) VALUES (N'201103', 3, N'March', 1, 1, 2011)
GO
INSERT [dbo].[F_Sales_Month] ([MonthKey], [CustomerKey], [ProductKey], [SalesQty], [SalesAmount], [NetSalesAmount], [ShipmentDuration], [VatAmount], [OnTime]) VALUES (N'201107', 7, 10, 20, 240, 240, 18, 55.2, 1)
INSERT [dbo].[F_Sales_Month] ([MonthKey], [CustomerKey], [ProductKey], [SalesQty], [SalesAmount], [NetSalesAmount], [ShipmentDuration], [VatAmount], [OnTime]) VALUES (N'201107', 7, 56, 30, 930, 930, 18, 213.9, 1)
INSERT [dbo].[F_Sales_Month] ([MonthKey], [CustomerKey], [ProductKey], [SalesQty], [SalesAmount], [NetSalesAmount], [ShipmentDuration], [VatAmount], [OnTime]) VALUES (N'201107', 13, 28, 10, 80, 80, 7, 18.4, 1)
GO
